aniso8601==1.2.0
asn1crypto==0.24.0
cffi==1.11.5
Click==7.0
cryptography==2.3.1
enum34==1.1.6
Flask==0.12.3
Flask-Ask==0.9.8
idna==2.7
inflect==0.2.5
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.19
pyOpenSSL==17.5.0
python-dateutil==2.7.3
PyYAML==3.12
six==1.11.0
Werkzeug==0.14.1
